<% provide(:title, "Edit password") %>
<% provide(:button_text, 'パスワードを変更') %>
<h1>パスワードを変更</h1>
<div class="row">
  <%= render 'sidemenu' %>
  <div class="col-md-6 col-md-offset-3 passwordresetarea">
    <%= render 'passwordform' %>
    <!-- 未実装 -->
    <span class="passwordresetlink">
    　<%= link_to "パスワードを忘れた場合","#" %>
    </span>
  </div>
</div>