<div class="container posts">
    <p class="post_index_finduser">フォローする人を見つけよう</p>
  <br> 
  <div class="row">
    <br>
    <p class="post_index_findpost">発見</p>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="col-sm-12 col-sm-4 picresize">
          <%= link_to "/posts/#{post.id}" do %><%= image_tag "#{post.picture}", :class => "img-fluid mx-auto d-block" if post.picture?%><% end %>
        </div>
      <% end %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>