<footer class="footer navbar navbar-fixed-bottom">
  <nav>
    <ul>
      <li><span class="btn-Insta-post">
        <%= link_to "写真を投稿する",   new_post_path %>
        </span></li>
    </ul>
  </nav>
</footer>